*, *::before, *::after {
    box-sizing: border-box;
}

:root{
    --blue-color:#0079bb;
    --orange-color: #9c1003;
}
a:hover{
    /* transform:scale(0.9); */
    color:rgba(51, 49, 50, 0.7);
}

body {
    margin:0;
    font-family: "Libre Baskerville", sans-serif;
    color: #333;
    overflow-x: hidden;
}

header{
    box-shadow: 0 1px 0 1px rgba(0,0,0,0.1);
}
img{
    max-width: 100%;
    border-radius: 2px;
}

a{
    color:var(--blue-color);
    text-decoration: none;
}

.mb-5{
    margin-bottom: 2rem;
}

.m-sides{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.active {
    border-bottom: 1px solid var(--blue-color);
}

/* Navigation */



.main-nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.nav-toggles{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;    
}

.nav-logo{
    width: 10rem;
}

.nav-toggle{
    font-size: 3rem;
    z-index: 2000;
}

.nav-phone{
    font-size: 2.5rem;
}

.nav-links {
    display:flex;
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;
    list-style: none;    
    padding: min(20rem, 15vh) 2rem;
    margin: 0;
    flex-direction: column;
    transform: translateX(200%);
    transition: transform 300ms ease-in-out;
    background: hsl( var(--clr-white) / 0.05);
    backdrop-filter: blur(1.5rem);
}

.nav-visible {
    transform: translateX(50%)
}

.nav-visible > * {
    margin-top: 30px;
    font-size: 1.2rem;
    color: black;
}

.nav-phone-lg{
    display:none;
}

.nav-dropdown {
    position: relative;
}

.services-dropdown {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 1.3em;
    padding: 1.5em;
    min-width: 16em;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
}

.nav-links.nav-visible .services-dropdown {
    top: 1.75em;
    left: -6em;
    font-size: .9rem;
}

.services-dropdown > a {
    margin-bottom: 1em;
}

.nav-dropdown:hover .services-dropdown {
    display: flex;
}

@media screen and (min-width:400px) {
    .nav-toggles{
        justify-content:space-evenly;
    }
}


@media screen and (min-width:1000px) {
    .nav-toggles{
        display: none;
    }

    .nav-links{
        display: flex;
        flex-direction: row;
        width: 50%;
        justify-content: space-evenly;
        font-size: 1.15rem;
        position: relative;
        inset: 0;
        padding: 0;
        transform: translateX(0); 
    }

    .nav-link{
        color:#333;
        font-weight: 700;
    }
    .nav-phone-lg{
        font-size: 1.15rem;
        border-left: 2px solid #333;
        height: 4rem;
        padding-left: 4rem;
        margin-right: 4rem;
        display: flex;
        align-items: center;
    }

    .main-nav{
        justify-content: space-around;
        align-items: center;
        margin-top: 1.2rem;
    }
    .nav-logo{
        width: 13.5rem;
    }
}

.main-content{
    /* margin-top: 1.5rem; */
    /* margin-left: 1rem;
    margin-right: 1rem; */
    text-align: center;
}

.hero{
    display: flex;
    flex-direction: column;
}

.main-title{
    font-size: 2rem;
}

.accent-word1{
    color:var(--blue-color);
}

.accent-word2{
    color:var(--orange-color);
}

#intro{
    text-align: center;
}

.hero-img{
    padding-bottom: 1rem;
}

.hero-img{
    max-width: 50%;
    display: none;
}

.hero {
    color: black;
    height: 60vh;
    margin-left: 0rem;
    margin-right: 0rem;
    background: linear-gradient(0deg, rgba(51, 49, 50, 0.3), rgba(56, 53, 55, 0.3)), url(/assets/images/andrew-wise-LE7RC3l5EeY-unsplash.jpg); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;
}

.hero-img{
    max-width: 40%;
    display: none;
}

.hero-text{
    background-color: rgba(255,255,255,0.75);
    width: 80%;
    max-width: 500px;
    margin: 2rem auto;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
}

.hero-text p{
    font-weight: 400;
    font-size: 1.15rem;
}

.hero-cta{
    margin: 0.5rem 0 2rem 0;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.hero-cta-contact{
    color: black;
    background-color: rgba(255,255,255,0.8);
    padding: .85rem 4rem;
    margin: 2rem 2rem 0 2rem;
    border-radius: 15px;
    text-align: center;
    font-weight: 700;
    font-size: 1rem;
}

.hero-cta-quote{
    color: black;
    background-color: rgba(255,255,255,0.8);
    padding: .85rem 2.5rem;
    margin: 2rem 2rem 0 2rem;
    border-radius: 15px;
    text-align: center;
    font-weight: 700;
    font-size: 1rem;
}

@media screen and (min-width:600px) {
    .hero-cta-contact,
    .hero-cta-quote {
        width: 60%;
        max-width: 250px;
        margin: 1.25rem auto;
    }
}

@media screen and (min-width:1000px) {
    .hero-text{
        background-color: rgba(255,255,255,0.75);
        margin-top: 2rem;
        border-radius: 6px;
        /* padding: 2rem; */
    }

    .hero {
        height: 60vh;
        margin-left: -1rem;
        margin-right: -1rem;
        background: linear-gradient(0deg, rgba(51, 49, 50, 0.3), rgba(56, 53, 55, 0.3)), url(../images/andrew-wise-LE7RC3l5EeY-unsplash.jpg); 
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

.reviews{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    border: 1px solid var(--orange-color);
    color:var(--blue-color);
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    border-radius: 25px;
}

.review-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2rem auto;
    width: 70%;
    padding: 1rem 1rem 0 1rem;
    background-color: whitesmoke;
    border: 1px solid rgba(51, 49, 50, 0.3);
    text-align: center;
}

.reviews-title{
    margin-bottom: -1rem;
    color:#333;
}

.reviews-author{
    color:rgba(51, 49, 50, 0.5);
    font-size: 0.9rem;
}

.reviews-body{
    font-size:0.825rem;
    text-align:justify;
}

.reviews-btns{
    display:flex;
    justify-content: space-evenly;
}

.work-together-btn{
    color: var(--orange-color);
}

.projects-btn,
.work-together-btn{
    font-size: 0.86rem;;
}

@media screen and (min-width: 700px) {
    .review-title {
        padding-left: 2rem;
        padding-right: 2rem;
    }  
    
    .review-flex {
        display: flex;
        flex-wrap: wrap;
    }

    .review-container {
        width: 40%;
    }
}

@media screen and (min-width: 1100px) {
    .review-title {
        padding-left: 6rem;
        padding-right: 6rem;
    }  
    
    .review-flex {
        display: flex;
        flex-wrap: wrap;
    }

    .review-container {
        width: 25%;
    }
}

.star-color{
    color: rgb(251, 239, 0);
    font-size: 1.8em;
}

#review-title{
    margin-top: .4rem;
    font-size: 1.2em;
}

.review-logo a{
    width: 25%;
    height:25%;
}

.review-logo a img{
    width:80%;
    height: 80%;
}

.review-logo{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1em;
}

.big{
    font-size: 2rem;
    border: 1px solid black;
    border-radius: 50%;
    padding: 0.8rem
}

@media screen and (min-width: 600px) {
    .reviews{
        width:50%;
        margin: 0 auto;
    }
}

@media screen and (min-width:1000px) {
    .reviews{
        margin-top:3rem;
        margin-bottom: 6rem;
       background-color: transparent;
       border: 3px solid var(--orange-color);
    }
    .review-logo a img{
        width:70%; 
        height:70%; 
    }

    #review-title{
        font-weight: 700;
        font-size: 1.5rem;
    }

    #google-logo{
        width: 100%;
        height: 100%;
    }
}

.start-project{
    margin-top: 3rem;
}

.diagram{
    margin-top: 2rem;
    display:flex;
    flex-direction: column;
}

.how-it-works h2{
    color: var(--blue-color);
    margin-bottom: -1rem;
}

.how-it-works{
    margin-top: 1rem;
}

.diagram-item{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 0.5rem;
    background-color: var(--blue-color);
    opacity: 0.8;
    border-radius: 25px;
}

.diagram-item p{
    width: 70%;
    text-align: center;
    color:white;
}

.diagram-item i{
    max-width: 35%;
    color:var(--blue-color);
    background-color: white;

}

@media  screen and (min-width: 600px) {
    .diagram-item{
       width: 60%;
       margin: 1rem auto;
        padding: 1rem;
    }
    .how-it-works{
        margin-top: 3rem;
    }
}

.services{
    display:flex;
    flex-direction: column;
    align-items:center;
    margin-top: 1.5rem;
}

.service-text{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    font-size: 0.9rem;
}

.services-refurbishment img{
    width: 5rem;
    height: 5rem;
    margin-bottom: -1.5rem;
}
.services-refurbishment-button{
    background-color: var(--blue-color);
    border-radius: 30px;
    padding: 0.3rem 2rem;
    color:white;
    transition: .2s;
}

.services-bathroom img{
    width: 5rem;
    height: 5rem;
    margin-bottom: -1.5rem;
}

.services-bathroom-button{
    background-color: var(--orange-color);
    border-radius: 30px;
    padding: 0.3rem 2rem;
    color:white;
    transition: .2s;
}

.services-kitchen img {
    width:5rem;
    height: 5rem;
    margin-bottom: -1.5rem;
}
.services-kitchen-button{
    background-color: var(--blue-color);
    border-radius: 30px;
    padding: 0.3rem 2rem;
    color:white;
    transition: .2s;
}

.services-extension img {
    width:5rem;
    height: 5rem;
    margin-bottom: -1.5rem;
}
.services-extension-button{
    background-color: var(--orange-color);
    border-radius: 30px;
    padding: 0.3rem 2rem;
    color:white;
    transition: .2s;
}

.services-refurbishment-button:hover,
.services-kitchen-button:hover {
    background-color: var(--orange-color);
    color: #fff;
}

.services-extension-button:hover,
.services-bathroom-button:hover {
    background-color: var(--blue-color);
    color: #fff;
}

@media screen and (min-width:800px) {
    .service-main{
        display:flex;
        flex-wrap: wrap;
    }
   .services-bathroom,
   .services-kitchen,
   .services-extension,
   .services-refurbishment{
       width:50%;
   } 
}

.celli-logo-container{
    display:flex;
    justify-content: flex-end;
    margin-right: 2rem;
    opacity: 0.5;
}

.celli-logo{
    width:30%;
}

.prev-section-text{
    margin-bottom: 2rem;
    background: whitesmoke;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.prev-section-text h3,
.prev-section-text p,
.choose-us-text,
.choose-us-text-2 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    text-align: left;
}

.c2a-btn {
    display: inline-block;
    background-color: var(--blue-color);
    color: #fff;
    padding: .75em 1.5em;
    margin-top: 2em;
    border-radius: 20px;
    transition: .2s;
}

.c2a-btn:hover,
.c2a-btn:focus {
    background-color: var(--orange-color);
    color: #fff;
}


@media screen and (min-width: 700px) {
    .prev-section-text {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .celli-logo {
        width: 20%;
    }
}

@media screen and (min-width: 1100px) {
    .prev-section-text {
        padding-left: 6rem;
        padding-right: 6rem;
    }

    .celli-logo {
        width: 15%;
    }
}



.how-we-work {
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.how-we-work-body {
    line-height: 1.7rem;
}

.how-we-work-title {
    font-size: 2rem;
}

.step-number {
    font-size: 1.5rem;
    color: var(--blue-color);
    margin-bottom: 0;
     line-height: 3rem;
     font-weight: 400;
}

.step-title {
    margin-top:0;
    font-size: 1.1rem;
}

.step-text {
    line-height: 1.5rem;
    font-size: 0.9rem;
}

@media screen and (min-width:768px) {
    .how-we-work-steps {
        display:flex;
        flex-wrap: wrap;
        gap: 5%;
        text-align: left;
        justify-content: space-evenly;
    }

    .step{
        width: 45%;
    }
}

@media screen and (min-width:1200px){
    .how-we-work-container{
        display:flex;
    }

    .how-we-work-steps{
        width: 70%;
    }

    .how-we-work-text{
        width: 30%;
        align-self: flex-end;
    }

    .how-we-work-title{
        font-size: 3rem;
        text-align: right;
    }

    .how-we-work-body{
        text-align: right;
    }

    .step{
        width:40%;
    }
}

.kitchen-gallery-title{
    margin-left: 2rem;
    margin-right: 2rem;
}

.kitchen-gallery-text {
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: justify;
    font-size: 0.85rem;
    line-height: 1.2rem;
}

.mb-7 {
    margin-bottom: 4rem;
}

@media screen and (min-width: 700px) {
    .gallery-img {
        width: 100%;
        max-width: 700px;
        margin: 0 auto;
        display: block;
    }

    .kitchen-gallery-title {
        font-size: 1.2rem;
    }

    .kitchen-gallery-body {
        margin: 2rem;
    }
}

@media screen and (min-width: 1000px) {
    .kitchen-gallery-title{
        font-size: 1.3rem;
    }
    .kitchen-gallery-body {
        margin: 2rem 8.3rem;
    }
}

@media screen and (min-width: 1100px) {
    .kitchen-gallery-title{
        font-size: 1.3rem;
    }
    .kitchen-gallery-body {
        margin: 2rem 12rem;
    }
}

@media screen and (min-width: 1200px) {
    .small-kitch,
    .contemporary-kitch,
    .modern-kitch,
    .minimalist-kitch,
    .open-plan-kitch,
    .extension-kitch{
        display:flex;
    }

    .contemporary-kitch,
    .minimalist-kitch,
    .extension-kitch{
        flex-direction: row-reverse;
    }

    .gallery-img {
        max-width: 50%
    }
    .kitchen-gallery-body{
        max-width: 50%;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem;
    }
}

.main-form-bath-btn{
    background: white;
    border: 1px solid #333;
    /* box-shadow: 0 0.4px 0 0.4px rgba(0,0,0,0.4); */
    padding: 1rem;
    border-radius: 20px;
    transition: 0.4s;
}
@media screen and (min-width: 1500px) {
    .kitchen-gallery{
        width: 80%;
        margin: 2rem auto;
    }
}



footer{
    padding: 1rem;
    background-color: #333;
    color: white;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer-color{
    color: #e6e6e6;
    font-size: 0.9rem;
}

footer h4{
    font-size: 1.2rem;
}

.footer-main{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.footer-main-news{
    margin-bottom: 3rem;
   
}

.news-signup{
    background-color: var(--blue-color);
    border-radius: 25px;
    padding: 0.5rem 6rem;
    color:white;
    align-self: center;
}

.footer-main-links{
    width: 100%;
    margin-bottom: 1rem;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-links-section{
    max-width: 30%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.footer-main-links a{
    color: #e6e6e6;
    line-height: 1.38rem;
}

.footer-info-legal{
    margin-bottom: 4rem;
}
.footer-info-social{
    margin-bottom: 2rem;
}

.footer-main-info{
   line-height: 0.7rem;
   margin-bottom: 1rem;
}

@media screen and (min-width:1200px) {
    .footer-main{
        display:flex;
        flex-direction: row;
        width:100%;
    }
    .footer-main-news{
        width: 35%;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .footer-main-links{
        width: 30%;
        flex-direction: column;
        align-items: center;
        gap: 1.2rem;
    }


    .footer-main-info{
        width: 30%;
        align-items: center;
    }

    .footer-color{
        font-size: 1rem;
    }
}
    

.social-icon{
    font-size: 2.8rem;
    color: #e6e6e6;
}

.footer-copy-left{
    line-height: 0.7rem;
}

.footer-copy{
    border-top: 1px solid #e6e6e6;
}


@media screen and (min-width: 1700px) {
    body {
        max-width: 70%;
        margin: 0 auto;
    }
}