*, *::before, *::after {
    box-sizing: border-box;
}

:root{
    --blue-color:#0079bb;
    --orange-color:#F08F00;
}
a:hover{
    transform:scale(0.9);
    color:red;
}

body {
    margin:0;
    font-family: "Libre Baskerville", sans-serif;
    color: #333;
}

header{
    box-shadow: 0 1px 0 1px rgba(0,0,0,0.1);
}
img{
    max-width: 100%;
    border-radius: 2px;
}

a{
    color:var(--blue-color);
    text-decoration: none;
}

.mb-5{
    margin-bottom: 2rem;
}

.main-nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.nav-toggles{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;    
}

.nav-logo{
    width: 10rem;
}

.nav-toggle{
    font-size: 3rem;
}

.nav-phone{
    font-size: 2.5rem;
}

.nav-links,
.nav-phone-lg{
    display:none;
}

@media screen and (min-width:400px) {
    .nav-toggles{
        justify-content:space-evenly;
    }
}


@media screen and (min-width:1000px) {
    .nav-toggles{
        display: none;
    }
    .nav-links{
        display: flex;
        width: 50%;
        justify-content: space-evenly;
        font-size: 1.15rem;
       
    }

    .nav-link{
        color:#333;
        font-weight: 700;
    }
    .nav-phone-lg{
        font-size: 1.15rem;
        border-left: 2px solid #333;
        height: 4rem;
        padding-left: 4rem;
        margin-right: 4rem;
        display: flex;
        align-items: center;
    }

    .main-nav{
        justify-content: space-around;
        align-items: center;
        margin-top: 1.8rem;
    }
    .nav-logo{
        width: 13.5rem;
    }
}

.main-content{
    margin-top: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
}

.hero{
    display:flex;
    flex-direction:column;

}

.main-title{
    font-size: 2rem;
}

.accent-word1{
    color:var(--blue-color);
}

.accent-word2{
    color:var(--orange-color);
}

#intro{
    text-align: center;
}

.hero-img{
    padding-bottom: 1rem;
}

 .hero-cta{
     margin: 0.5rem 0 2rem 0;
 }

.hero-cta-contact{
    width: 100%;
    background-color:var(--blue-color);
    border-radius: 30px;
    padding: 0.675rem 6rem 0.675rem 6rem;
    color: white;
    font-weight: bold;
    display: block;
    margin-bottom: 1.25rem;
}

.hero-cta-quote{
    width: 100%;
    background-color: white;
    border-radius: 30px;
    padding: 0.675rem 6rem 0.675rem 6rem;
    color: var(--blue-color);
    font-weight: bold;
    box-shadow: 1px 1px 100px 5px rgba(0,0,0,0.3);
    display:block;
}

@media screen and (min-width:600px) {
    .hero-cta-contact,
    .hero-cta-quote {
        width: 60%;
        margin: 1.25rem auto;
    }
}

@media screen and (min-width:1000px) {
    .hero{
        flex-direction: row;
        justify-content: center;
        align-items: start;
        /* color: white; */
    }

    .hero-img{
        max-width: 50%;
        display: none;
    }

    .hero-text{
        background-color: rgba(255,255,255,0.5);
        margin-top: 2rem;
        border-radius: 6px;
        padding: 2rem;
    }

    .hero {
        height: 60vh;
        margin-left: -1rem;
        margin-right: -1rem;
        background: linear-gradient(0deg, rgba(51, 49, 50, 0.3), rgba(56, 53, 55, 0.3)), url(/assets/images/andrew-wise-LE7RC3l5EeY-unsplash.jpg); 
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

.reviews{
    margin-top: rem;
    background-color: rgba(240,143,0, 0.8);
    color:var(--blue-color);
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    border-radius: 25px;
}

.star-color{
    color: rgb(251, 239, 0);
    font-size: 1.8em;
}

#review-title{
    margin-top: .4rem;
    font-size: 1.2em;
}

.review-logo a{
    width: 25%;
    height:25%;
}

.review-logo a img{
    width:80%;
    height: 80%;
}

.review-logo{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1em;
}

.big{
    font-size: 2rem;
    border: 1px solid black;
    border-radius: 50%;
    padding: 0.8rem
}

@media screen and (min-width: 600px) {
    .reviews{
        width:50%;
        margin: 0 auto;
    }
}

@media screen and (min-width:1000px) {
    .reviews{
        margin-top:3rem;
        margin-bottom: 6rem;
       background-color: transparent;
       border: 3px solid var(--orange-color);
    }
    .review-logo a img{
        width:70%; 
        height:70%; 
    }

    #review-title{
        font-weight: 700;
        font-size: 1.5rem;
    }

    #google-logo{
        width: 100%;
        height: 100%;
    }
}

.start-project{
    margin-top: 3rem;
}

.diagram{
    margin-top: 2rem;
    display:flex;
    flex-direction: column;
}

.how-it-works h2{
    color: var(--blue-color);
    margin-bottom: -1rem;
}

.how-it-works{
    margin-top: 1rem;
}

.diagram-item{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 0.5rem;
    background-color: var(--blue-color);
    opacity: 0.8;
    border-radius: 25px;
}

.diagram-item p{
    width: 70%;
    text-align: center;
    color:white;
}

.diagram-item i{
    max-width: 35%;
    color:var(--blue-color);
    background-color: white;

}

@media  screen and (min-width: 600px) {
    .diagram-item{
       width: 60%;
       margin: 1rem auto;
        padding: 1rem;
    }
    .how-it-works{
        margin-top: 3rem;
    }
}

.services{
    display:flex;
    flex-direction: column;
    align-items:center;
    margin-top: 1.5rem;
}

.service-text{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    font-size: 0.9rem;
}

.services-refurbishment img{
    width: 5rem;
    height: 5rem;
    margin-bottom: -1.5rem;
}
.services-refurbishment-button{
    border:1px solid #265289;
    background-color: var(--blue-color);
    border-radius: 30px;
    padding: 0.3rem 2rem;
    color:white;
}

.services-bathroom img{
    width: 5rem;
    height: 5rem;
    margin-bottom: -1.5rem;
}

.services-bathroom-button{
    border:1px solid #E76F51;
    background-color: var(--orange-color);
    border-radius: 30px;
    padding: 0.3rem 2rem;
    color:white;
}

.services-kitchen img {
    width:5rem;
    height: 5rem;
    margin-bottom: -1.5rem;
}
.services-kitchen-button{
    border:1px solid #265289;
    background-color: var(--blue-color);
    border-radius: 30px;
    padding: 0.3rem 2rem;
    color:white;
}

.services-extension img {
    width:5rem;
    height: 5rem;
    margin-bottom: -1.5rem;
}
.services-extension-button{
    border:1px solid #E76F51;
    background-color: var(--orange-color);
    border-radius: 30px;
    padding: 0.3rem 2rem;
    color:white;
}

@media screen and (min-width:800px) {
    .service-main{
        display:flex;
        flex-wrap: wrap;
    }
   .services-bathroom,
   .services-kitchen,
   .services-extension,
   .services-refurbishment{
       width:50%;
   } 
}
footer{
    padding: 1rem;
    background-color: #333;
    color: white;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer-color{
    color: #e6e6e6;
    font-size: 0.9rem;
}

footer h4{
    font-size: 1.2rem;
}

.footer-main{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.footer-main-news{
    margin-bottom: 3rem;
   
}

.news-signup{
    background-color: var(--blue-color);
    border-radius: 25px;
    padding: 0.5rem 6rem;
    color:white;
}

.footer-main-links{
    width: 100%;
    margin-bottom: 1rem;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-links-section{
    max-width: 30%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.footer-main-links a{
    color: #e6e6e6;
    line-height: 1.38rem;
}

.footer-info-legal{
    margin-bottom: 4rem;
}
.footer-info-social{
    margin-bottom: 2rem;
}

.footer-main-info{
   line-height: 0.7rem;
   margin-bottom: 1rem;
}

@media screen and (min-width:1200px) {
    .footer-main{
        display:flex;
        flex-direction: row;
        width:100%;
    }
    .footer-main-news{
        width: 35%;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .footer-main-links{
        width: 30%;
        flex-direction: column;
        align-items: center;
        gap: 1.2rem;
    }


    .footer-main-info{
        width: 30%;
        align-items: center;
    }

    .footer-color{
        font-size: 1rem;
    }
}
    

.social-icon{
    font-size: 2.8rem;
    color: #e6e6e6;
}

.footer-copy-left{
    line-height: 0.7rem;
}

.footer-copy{
    border-top: 1px solid #e6e6e6;
}